/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: olivedrab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-shadow:
    -0.5px -0.5px 0 orangered,  
    0.5px -0.5px 0 orangered,
    -0.5px 0.5px 0 darkred,
    0.5px 0.5px 0 darkred;
    /* text-decoration-line: red; */
}

.user-list-item {
    color: orange;
}